/*通过style引入CSS*/
* {
    /*盒子模型,设置其窗体大小不会变*/
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    /*背景*/
    background: url("../练习/image/海滨云朵2.jpg") no-repeat center
}

.rg_layout {
    /*布局*/
    width: 900px;
    height: 530px;
    /*内外边界像素差，和之间的颜色：灰*/
    border: 8px solid #EEEEEE;
    /*内边界的背景色*/
    background-color: white;
    /*水平居中*/
    /*距离上端的距离*/
    margin: 80px auto auto;
}

.rg_left {
    /* border: 1px solid red;*/
    float: left;
}

.rg_left>p:first-child {
    /*选择p:first-child上的父类选择器.rg_left*/
    color: rgba(89, 120, 231, 0.77);
    size: 20px;
    /*外边距*/
    margin: 15px;
}

.rg_left>p:last-child {
    color: #A6A6A6;
    size: 20px;
}

.rg_center .rg_from {

    float: left;
    margin-left: 100px;
    margin-top: 40px;

}


.rg_right {
    /*已有账号*/
    /* border: 1px solid red;*/
    float: right;
    margin: 15px;
}

#sex {
    letter-spacing: 15px;
}

.rg_right>p :first-child {
    /*立即登录*/
    color: #18d3e5;
    font-size: 14px;
}

.re_table_1 {
    font-size: 15px;
    text-align: right;
    height: 35px;
    color: #A6A6A6;
}


.re_table_2 {
    padding-left: 60px;

}

/*调节提示文字距离和大小*/
input {
    text-indent: 6px;
    font-size: 11px;

}

#username,
#password,
#生日,
#邮箱,
#年龄,
#class,
#自我介绍 {
    width: 251px;
    height: 32px;
    border: 1px solid #A6A6A6;
    border-radius: 5px;
}

#取色器 {
    width: 70px;
    /*margin-left: 30px;*/
}

#login {
    /*登录区样式设计*/
    width: 55px;
    height: 35px;
    /* margin-left: 150px;*/
    border-radius: 3px;
    border-color: gray;
    background-color: bisque;
    margin-left: 120px;
}

.button {
    /*按钮距离调控*/
    margin-left: 60px;
}

.submit-default {
    /*按钮样式设计*/
    margin-left: 70px;
    border-radius: 3px;
    border-color: silver;
    color: #222222;
}